.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 1.3rem;
  margin: 20px 0px 0px;
}
.linksDiv {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
}
.homeLink {
  margin: auto 0px;
}
.fSlash {
  margin: auto 0px;
}
.pathLink {
  margin: auto 2px;
}
.currentLocation {
  margin: auto 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
