.unmounted {
  font-size: inherit;
  width: 114px;
  height: 40px;
  opacity: 0;

  transition-property: color, background-color;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}
.mounted {
  composes: unmounted;
  color: var(--foreground-opp);
  background-color: var(--background-opp);
  cursor: pointer;
  text-align: center;
  opacity: 100;
}
