

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --light-mode-background: rgb(243, 243, 243);
  --light-mode-foreground: black;
  --dark-mode-background: rgb(0, 2, 18);
  --dark-mode-foreground: rgb(227, 227, 227);

  --light-mode-code-title-background: rgb(226, 226, 226);
  --dark-mode-code-title-background: rgb(41, 41, 41);

  --background: var(--light-mode-background);
  --foreground: var(--light-mode-foreground);
  --background-opp: var(--dark-mode-background);
  --foreground-opp: var(--dark-mode-foreground);
  --code-title-background: var(--light-mode-code-title-background);
}

[data-theme='dark'],
[data-theme='dark'] body {
  --background: var(--dark-mode-background);
  --foreground: var(--dark-mode-foreground);
  --background-opp: var(--light-mode-background);
  --foreground-opp: var(--light-mode-foreground);
  --code-title-background: var(--dark-mode-code-title-background);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 11pt;
}

html,
body {
  height: 100%;
  color: var(--foreground);
  background-color: var(--background);
  margin: 0 auto;
}

body {
  max-width: 800px;
  padding: 0 10px;
  overflow-x: hidden;
  overflow-y: auto;
}

@media only screen and (min-width: 1200px) {
  html,
  body {
    max-width: 1000px;
  }
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2.0rem;
}

h3 {
  font-size: 1.6rem;
}

h1, h2, h3 {
  padding: 20px 0px 20px;
}

p {
  font-size: 1.11rem;
  padding: 10px 0px 10px;
  line-height: 1.5;
}

a {
  font-size: 1.11rem;
  color: var(--foreground);
  text-underline-offset: 0.1em;
}

a:hover {
  text-decoration: none;
}

button {
  font-size: 1.2rem;
  font-family: inherit;
  color: inherit;
}

ul, ol {
  list-style-position: inside;
  font-size: 1.11rem;
  padding: 10px 0px 10px;
  line-height: 1.5;
}

li {
  padding-left: 1.5rem;
  text-indent: -1.5rem;
}

/* rehype-pretty-code styling */

pre {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  overflow-x: scroll;
}

pre > code {
  display: grid;
  padding: 1.5rem 0;
  counter-reset: line;
  font-size: 0.9rem;
  /* Fixes iOS code font sizing anomaly */
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

pre > code > [data-line]::before {
  counter-increment: line;
  content: counter(line);

  /* Other styling */
  display: inline-block;
  width: 1rem;
  margin-right: 2rem;
  text-align: right;
  color: gray;
}

pre > code[data-line-numbers-max-digits="2"] > [data-line]::before {
  width: 2rem;
}

pre > code[data-line-numbers-max-digits="3"] > [data-line]::before {
  width: 3rem;
}

[data-rehype-pretty-code-fragment] {
  position: relative;
}

[data-rehype-pretty-code-title] {
  position: relative;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  height: 2.0rem;
  background-color: var(--code-title-background);
  font-family: var(--font-mono);
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
}

pre[data-theme*=" "],
code[data-theme*=" "],
code[data-theme*=" "] span {
  color: var(--shiki-light);
  background-color: var(--shiki-light-bg);
}

[data-theme='dark'] {
  pre[data-theme*=" "],
  code[data-theme*=" "],
  code[data-theme*=" "] span {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }
}