.main {
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  height: 500px;
}
.viewAllLink {
  font-size: 1.6rem;
  padding: 0px;
  margin: 20px auto 20px 0px;
}
.viewAllLink::after {
  content: " \2192"; /* Unicode character for right arrow */
  position: relative;
  /*top: 50%;*/
  right: 0em;
  transform: translateY(-50%);
  text-decoration: none;
}