.pageContainer {
  margin: 0 auto;
  padding: var(--space-4) 0;
  display: flex;
  flex-direction: column;
  gap: var(--space-5); /* space between <article> and other page blocks */
}
.articleHeader {
  margin: var(--space-4) 0;
}
.articleContent {
  display: flex;
  flex-direction: column;
  gap: var(--space-4); /* spacing between children */
  padding-block: var(--space-1); /* spacing above first and below last */
}
.articleContent h3 {
  /* add extra space before and after each section title */
  margin-block-start: var(--space-2);
  margin-block-end: var(--space-2);
}
.articleFooter {
  margin: var(--space-5) 0;
}
.blogReturnLink {
  font-size: 1.3rem;
}
