.main {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
}
.articleTitle {
  margin: 20px 0px 5px;
}
.articleDate {
  margin: 0px 0px 20px;
}
.blogReturnLinkContainer {
  margin: 20px 0px;
}
.blogReturnLink {
  font-size: 1.4rem;
}
.blogReturnLink::before {
  content: "\2190"; /* unicode character for left arrow */
  margin-right: 0.5em; /* space between arrow and text */
  position: relative;
  transform: translateY(-2px); /* vertically align with text */
  text-decoration: none;
}
