:root {
  --font-mono:
    ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  /* stacked child spacing */
  --space-0: 0px;
  --space-1: 5px;
  --space-2: 10px;
  --space-3: 15px;
  --space-4: 20px;
  --space-5: 25px;
  --space-6: 30px;

  /* font size */
  --fs-xs: 0.75rem;
  --fs-sm: 0.9rem;
  --fs-base: 1.11rem;
  --fs-lg: 1.2rem;
  --fs-xl: 1.6rem;
  --fs-2xl: 2rem;
  --fs-3xl: 2.4rem;

  /* line height */
  --lh-tight: 1.2;
  --lh-base: 1.5;
  --lh-loose: 1.75;

  --light-mode-background: rgb(243, 243, 243);
  --light-mode-foreground: black;
  --dark-mode-background: rgb(0, 2, 18);
  --dark-mode-foreground: rgb(227, 227, 227);

  --light-mode-code-title-background: rgb(226, 226, 226);
  --dark-mode-code-title-background: rgb(41, 41, 41);

  --background: var(--light-mode-background);
  --foreground: var(--light-mode-foreground);
  --background-opp: var(--dark-mode-background);
  --foreground-opp: var(--dark-mode-foreground);
  --code-title-background: var(--light-mode-code-title-background);
}

[data-theme="dark"],
[data-theme="dark"] body {
  --background: var(--dark-mode-background);
  --foreground: var(--dark-mode-foreground);
  --background-opp: var(--light-mode-background);
  --foreground-opp: var(--light-mode-foreground);
  --code-title-background: var(--dark-mode-code-title-background);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 11pt;
  -webkit-text-size-adjust: 100%; /* prevent font scaling in landscape while allowing user zoom */
  line-height: var(--lh-base);
}

body {
  color: var(--foreground);
  background: var(--background);
  max-width: 100ch;
  margin: 0 auto;
  padding-inline: 1rem;
  overflow-x: hidden;
  line-height: var(--lh-base);
}
@media (max-height: 600px) and (orientation: landscape) {
  body {
    padding-inline: 3rem;
  }
}

h1 {
  font-size: var(--fs-3xl);
  line-height: var(--lh-tight);
}

h2 {
  font-size: var(--fs-2xl);
  line-height: var(--lh-tight);
}

h3 {
  font-size: var(--fs-xl);
  line-height: var(--lh-tight);
}

a {
  color: var(--foreground);
  text-underline-offset: 0.1em;
}
a:hover {
  text-decoration: none;
}

button {
  font-family: inherit;
  border-radius: 8px;
  border-width: 0;
  cursor: pointer;
}

p,
ul,
ol,
time {
  font-size: var(--fs-base);
  line-height: var(--lh-base);
}

ul,
ol {
  /* put the bullet/number in the margin area */
  list-style-position: outside;
  /* indent the whole list block by 1.5rem */
  padding-inline-start: 1.5rem;
}

figcaption {
  text-align: center;
  font-size: var(--fs-sm);
  line-height: var(--lh-base);
  margin-top: var(--space-1);
}

/* rehype-pretty-code styling */

pre {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  overflow-x: scroll;
}

pre > code {
  display: grid;
  padding: 1.5rem 0;
  counter-reset: line;
  font-size: var(--fs-sm);
  line-height: var(--lh-tight);
  /* Fixes iOS code font sizing anomaly */
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

pre > code > [data-line]::before {
  counter-increment: line;
  content: counter(line);

  /* Other styling */
  display: inline-block;
  width: 1rem;
  margin-right: 2rem;
  text-align: right;
  color: gray;
}

pre > code[data-line-numbers-max-digits="2"] > [data-line]::before {
  width: 2rem;
}

pre > code[data-line-numbers-max-digits="3"] > [data-line]::before {
  width: 3rem;
}

[data-rehype-pretty-code-fragment] {
  position: relative;
}

[data-rehype-pretty-code-title] {
  position: relative;
  text-align: left;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  height: 2rem;
  background-color: var(--code-title-background);
  font-family: var(--font-mono);
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
}

pre[data-theme*=" "],
code[data-theme*=" "],
code[data-theme*=" "] span {
  color: var(--shiki-light);
  background-color: var(--shiki-light-bg);
}

[data-theme="dark"] {
  pre[data-theme*=" "],
  code[data-theme*=" "],
  code[data-theme*=" "] span {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }
}
